h3 {
    font-family: 'Signika Negative';
    font-size: 3rem;
    background-color: #cf95c7;
    text-shadow: 2px 2px;
    text-align: center;
}

body {
    background:linear-gradient(#da7ed2, #3f87a6); 
    background-size: cover;
    margin:0;
    padding: 0;
}
.seccionServicios {
    display: block;
    font-family: 'Signika';
    font-size: 1rem;
    text-align: justify;
    margin: 0;
    padding: 0;

}
#imagenPrincipal {
    background-image: url(../img/imagengalaxia.jpg);
    height: 60rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    size: cover;
    margin-bottom: 5rem;
   
}
.sEsoterico {
    text-align: center;
    font-size: 4rem;
    font-family: 'Signika Negative';
    font-weight: bolder;
    margin: 0;
    padding: 0;
    color: black;
}

.fuenteGrande {
    font-size: 12rem; /* 1 rem : 10px */
    text-align: center;
    font-family: 'Signika';
    color: blanchedalmond;
    text-shadow: 4px 4px rgb(19, 1, 27);
}
/*
*{
    margin:0 ;
    padding: 0;
}
*/
html {
    font-size: 62.5%;
    background-color: antiquewhite;
    
}
h2 { 
    background-image: linear-gradient(180deg, #8b92f3 0, #762b99 12.5%, #11214e75 25%, #69235a 37.5%, #612e52 50%, #521385 62.5%, #3d0829 75%, #5f062f 87.5%, #440616 100%);
    font-family: 'Signika';
    font-size: 4.8rem;
    line-height: 1.5;
    text-align: center;
   
}
#servicios {
    height: 500px;
    
}
 section div {
    background: linear-gradient(#da7ed2, #3f87a6);
    
 }


 .fuenteGrande {
     font-size: 12rem; /* 1 rem : 10px */
     text-align: center;
     font-family: 'Signika';
     margin-top: auto;
 }

 .fuenteMediana {
     font-size: 8rem ;
     font-family: 'Signika';
     text-align: center;
     line-height: 1.6;
     font-weight: bold;
     color:azure;
     margin-top: auto;
 }

 ul { 
        list-style-type:circle;
        font-family: 'Signika';
        font-size: 5rem;
        color:rgb(14, 12, 13);
        text-align: left;
        text-shadow: #97dbd1;
        
 }

 .cursiva {
     font-style: italic;
     font-weight: bold;
     font-family: 'Signika';
     text-align: justify;
     line-height: 1.8;
     font-size: 4rem;
 }
 a {
     text-decoration:dashed;
 }
 #imagen-fondo{
     background-image: url(../img/imagengalaxia.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
 }

#Tablas {
    font-family: 'Signika';
    font-size: 3rem;
    text-align:justify;
    line-height: 1.2;
    background-image: url(https://i.pinimg.com/originals/06/25/f6/0625f661ba270aac7553f7db742c7b24.jpg);
    background-position: center;
    color: rgba(14, 0, 78, 0.479);
    Margin: 15px 50px 18px 30px;
/* propiedades decorativas */
    border: solid 2px rgb(126, 5, 90);
    padding: 5px;
    display: inline-block; 
    transform: translate(15% 10%);
}
p {
    text-align: center;
    font-family: 'Signika Negative';
    font-size: 3.6rem;
    line-height: 1.6;
    overflow: hidden;

}
li {
    display: inline-block;
    font-size: 23px;
    
} 
/*media*/
@media (min-width: 768px) {
    .card1 {
        width: 60%;
    }
    @media (max-width: 767px) {
    #grilla {
        display: grid;
        grid-template-areas:
          "header"
          "nav"
          "productos"
          "publicidad"
          "servicios"
          "footer";
        /* grid-template-rows: 100px 1fr 1fr 75px; 
        grid-template-columns: 20% auto 15%; */
        /* row-gap: 50px;
        column-gap: 50px; */
        }
    } 

@media (min-width: 768px) {
    #grilla {
        display: grid;
        grid-template-areas:
          "nav header header"
          "nav productos publicidad"
          "nav servicios publicidad"
          "nav footer footer";
        grid-template-rows: 100px 1fr 1fr 75px; 
        grid-template-columns: 20% auto 15%;
        row-gap: 50px;
        column-gap: 50px;
     }
}
.card1 {
    display: block;
    background-color: rgb(167, 123, 209);
    width: 50%;
    height: 500px;
    margin-bottom: 80px;
    padding: 100px 50px;
    position:relative; 
    transform: translate(40%,10%);
    
}
.card1 img {
    display: block;
    width: 150px;
    margin: 0 auto;
    border: inset 3px salmon;
    border-radius: 50px;
    
}
.card3 {
    width: 50%;
    height: 500px;
    margin-bottom: auto;
    padding:70%;
    position:static;
  
  
}
.card4 {
    text-align: start;
    font-family: 'Signika';
    font-size: 2rem;
    padding: 0%;
    margin-top: 60px;
    padding: 100px;
}
.card4 img{
    display:inline-block;
    width: 22rem;
    height: 20rem;
    margin: 0;
    overflow:unset;
    align-items: center;
    }
.oferta  {
    font-family: 'Signika';
    font-size: 4rem;
    text-align: center;
    font-weight: bolder;
    line-height: 1.5;
    text-decoration: wavy;
    position: absolute;
    top: 0;
    background-color: whitesmoke;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-align: center;
}

button {
    padding: 1rem;
    position:absolute;
    border-radius: 10px;
    margin:2% 2% 3% 40%; 
    width: 50px; height: 50px;
    transition: all 2s;       
}
 button:focus {
    width: 90px;
    font-size: 15px;
 }
  
.text-center {
    text-align: center;
    font-family: 'Signika Negative';
    font-size: 3rem;
    border:ridge lavenderblush;
}
#enlaceWa {
    color:rgb(80, 28, 73);
    font-size: 60px;
    position: fixed;
    bottom: 0;
    right: 40px;
}
.logo {
    display: block;
    width: 150px;
    margin: 0 auto;
    border-right: solid 3px magenta;
    border-radius: 30px;


}

#imagenPaisaje{ 
    background-image: url(../img/paisaje.jpg);
}
.card2 {
    background-color: rgb(167, 123, 209);
    width: 50%;
    height: 500px;
    margin-bottom: 80px;
    padding: 100px 50px;
    position:relative; 
    align-items: center;
    transform: translate(40%,10%);
    
}
.card2 img {
    display: block;
    width: 150px;
    margin: 0 auto;
    border: inset 3px salmon;
    border-radius: 50px;
    align-items: center;

}


.infoContacto{
    font-family: 'Signika';
    font-size: 3rem;
    text-align: center;
    line-height: 1.2;
    background-position: center;
    background-color: #cf95c7;
}
form{
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    color:black;
    text-align:center ;
}
.enviar {
    padding: 1rem;
    border-radius: 10px;
    align-items: flex-start;
    box-sizing: border-box;

}
.colorido{
    text-align: left;
    font-family: 'Signika Negative';
    font-size: 4rem;
    color: rgb(32, 28, 32);
    display: block;
    text-align: center; 
    line-height: 1.5;
    margin: 0;
    padding: 0;
      
    }
    
    /*grid seccion servicios*/
    
    #grilla {
        display: grid;
        grid-template-areas:
          "nav header header"
          "nav productos publicidad"
          "nav servicios publicidad"
          "nav footer footer";
        grid-template-rows: 100px 1fr 1fr 75px; 
        grid-template-columns: 20% auto 15%;
        row-gap: 50px;
        column-gap: 50px;
    }

    .border {
        border: 1px solid black;
        background: linear-gradient(#da7ed2, #3f87a6);

     }

     
     header {
        grid-area: header;
     }
     footer {
        grid-area: footer;
     }
     section#productos {
        grid-area: productos;     
     }
     section#servicios {
        grid-area: servicios;     
     }
     nav {
        grid-area: nav;
     }
     aside {
        grid-area: publicidad;
     }
/* GRID HIJOS */
#Servicios {
    display: grid;
    justify-items: stretch; /* start | end | center | stretch */
    align-items: stretch; /* start | end | center | stretch */
    width: 95%;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-template-rows: 100px 100px;
    grid-row-gap: 10px;
    height: 100vh;
    /*justify-content: center /*starr | end | center | space-between | space-around | space-evenly*/;
    /*align-content: center /*starr | end | center | space-between | space-around | space-evenly*/;
  }

  #padre div {
    border: solid 1px;
    font-size: 21px;
    padding: 5px;

  }

  .hijo-self {
      justify-self: start;
  }
  
  #servicios{
    
    text-align: justify;
  }

/*GRID INDEX*/
#index {
    display: grid;
    grid-template-areas:
      "nav header header"
      "nav productos publicidad"
      "nav servicios publicidad"
      "nav footer footer";
      grid-template-rows: 255px 1fr 1 fr -3px;
      grid-template-columns: 15% auto 15%;
    column-gap: 50px;
}
.border {
    border: 1px solid black;
    background: linear-gradient(#da7ed2, #3f87a6);
 }

 
 header {
    grid-area: header;
 }
 footer {
    grid-area: footer;
 }
 section#productos {
    grid-area: productos;     
 }
 section#servicios {
    grid-area: servicios;     
 }
 nav {
    grid-area: nav;
 }
 aside {
    grid-area: publicidad;
 }
/* GRID HIJOS */
#index-hijos {
display: grid;
justify-items: stretch; /* start | end | center | stretch */
align-items: stretch; /* start | end | center | stretch */
width: 95%;
grid-template-columns: auto auto;
grid-column-gap: 10px;
grid-template-rows: 100px 100px;
grid-row-gap: 10px;
height: 100vh;
/*justify-content: center /*starr | end | center | space-between | space-around | space-evenly*/;
/*align-content: center /*starr | end | center | space-between | space-around | space-evenly*/;
}

#padre div {
border: solid 1px;
font-size: 21px;
padding: 5px;

}

.hijo-self {
  justify-self: start;
}

#servicios{

text-align: justify;
}
#mapa{
    width: 100%;
    height: 45%;
    border: none;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;

}
  
iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/*grid productos*/
.productos  {
    #index {
        display: grid;
        grid-template-areas:
          "nav header header"
          "nav productos publicidad"
          "nav servicios publicidad"
          "nav footer footer";
          grid-template-rows: 255px 1fr 1 fr -3px;
          grid-template-columns: 15% auto 15%;
        column-gap: 50px;
}

.producto-1 {
  
  width: 200px;
  height: 200px;
  
}
.producto-2 {
  
    justify-self: stretch; /*Horizontal 100%*/
    align-self: stretch; /*Vertical 100%*/
  
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1rem;
    width: auto;
    height: auto;
    min-width: auto;
    min-height: auto;
  
}

.producto-3{
  
   
    justify-self: stretch; //Horizontal 100%
    align-self: stretch]; //Vertical 100%
  
   /*flex*/
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    padding: 1rem;
    width: auto;
    height: auto;
    min-width: auto;
    min-height: auto;
  
}

#Contacto {
    display: grid;
    grid-template-areas:
    "nav-header-header"
    "nav-productos-publicidad"
    "nav-servicios-footer"
    "nav-footer-footer"
;
grid-template-rows:100px 1fr 1fr 50px ;
grid-template-columns: 30% auto 15%;
row-gap: 50px;
column-gap: 50px;
}

header {
    grid-area: header;
 }
 footer {
    grid-area: footer;
 }
 section#productos {
    grid-area: productos;     
 }
 section#servicios {
    grid-area: servicios;     
 }
 nav {
    grid-area: nav;
 }
 aside {
    grid-area: publicidad;
 }
 /* grid hijos contacto */ 
 .contacto-hijos {
     display:grid;
     justify-items:center ;
     align-items:center ;
    width: 95%;
     grid-template-column:50%;
     column-gap:auto auto;
     rows:10px ;
     row-gap:10px;
     height:100vh;
 }  
 div {
    width: 100px;
    height: 100px;
    transition: height 2s, width 1s;       
 }
 div:hover {
    height: 200px; width: 200px;
 }
